
body{
    background-color: #E6E6F5;
    color:#000000;
    background-image: url(images/background.jpg);
    background-repeat:no-repeat;
    background-position: left
}

h1{
    background-color:#5210d5;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
}

h2{
    color:#000000;
    text-transform: uppercase;
}

nav{
    background-color:#8080ff;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
}

footer{
    font-style: italic;
}
ul{
    list-style-type:square;
}